llama-index
llama-index-llms-gemini
llama-index chromadb
llama-index-embeddings-ollama
llama-index-llms-ollama
sentence-transformers
chromadb
google-generativeai
fastapi
uvicorn
streamlit
pydantic
python-dotenv
numpy
pandas
tqdm
requests
ipykernel
ragas